.collection-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    margin-bottom: 200px;
    cursor: none;

    .artikel {
      padding: 20px 40px;
      border-radius: 10px;
      margin-top: 16px;
      box-shadow: 1px 1px 7px grey;
    }
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
    
    .menu-item {
      height: 600px;
      width: 400px;
      display: grid;
      left: 60%;
      top: 20%;
      position: absolute;
      

      grid-template-columns: 1fr;

      .content {
        .detail {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;

          .image {
            img {
              margin-top: 16px;
              width: 44%;
              height: auto;
            }
          }
          .details {
            margin-left: -90px;

            a {
              color: rgb(0, 132, 255);
            }

            p {
              img {
                width: 5%;
              }
              margin-bottom: 20px;
            }
          }
        }
      
        .review {
          ul {

            text-align: left;
            margin-bottom: 20px;
            margin-left: -200px;
          }
        }
      }

      .harga {
        margin-top: 220px;
        text-align: center;

        p {
          text-align: center;
          margin-left: 90px;
          width: 30%;
        }

        hr {
          width: 20%;
          position: absolute;
          top: 65%;
          left: 60%;
        }

        h3 {
          position: absolute;
          top: 61%;
          left: 60%;
        }

        h1 {
          color: rgb(0, 74, 143);
        }

        button {
          padding: 12px 40px;
          background-color: rgb(255, 106, 47);
          border-radius: 10px;
          border: none;
          color: #fff;
        }
      }
    }

  }
  