.filter {
    position: absolute;
    display: grid;
    margin-bottom: 25px;
    margin-top: -20px;
    left:3%;
    top: 100%;

    .filterHarga {
      display: grid;
      box-shadow: 1px 3px 5px grey;
      padding: 20px 160px 20px 20px;
    }
    .filterJenis {
      display: grid;
      box-shadow: 1px 3px 5px grey;
      padding: 20px 160px 20px 20px;
    }
}
  