$sub-color: black;
$main-color: white;

@mixin shrinkLabel {
  top: -20px;
  font-size: 12px;
  color: $main-color;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12px 28px;
  width: 100%;

  input[type='text'] {
      padding-left: 20px;
  }

  label {
      color: rgb(0, 65, 150);
  }

  button {
      position: absolute;
      right: 6%;
      top: 100%;
      padding: 16px 24px;
      background-color: rgb(255, 106, 47);
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
  }

  .form-provinsi {
      border-radius: 5px;
      border: 1px solid grey;
      height: 40px;
      width: 90%;
      margin-top: 8px;
      background-image: url('../../assets/img-icon-pin.svg');
      background-position-y: center;
      background-repeat: no-repeat;
  }
  .form-kota {
      border-radius: 5px;
      border: 1px solid grey;
      height: 40px;
      width: 90%;
      margin-top: 8px;
      background-image: url('../../assets/img-icon-pin-map.svg');
      background-position-y: center;
      background-repeat: no-repeat;
  }
  .form-paket {
      border-radius: 5px;
      border: 1px solid grey;
      height: 40px;
      width: 90%;
      margin-top: 8px;
      background-image: url('../../assets/img-icon-stetoscop.svg');
      background-position-y: center;
      background-repeat: no-repeat;
  }
}
