.menu-item {
    height: 240px;
    display: flex;
    width: 60%;
    align-items: left;
    justify-content: left;
    position: relative;
    left: 40%;
    top: 50%;
    // border: 3px solid whitesmoke;
    margin: 40px 7.5px 15px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;

    @media (max-width: 960px) {
      width: 100%;
      margin: 40px 4.5px 10px;
      top: 90%;
      left: 0;
      display: grid;
      grid-template-columns: 1fr;
      height: 500px;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 10px rgb(133, 133, 133);

        & .background-image {
            transform: scale(1.1);
            transition: transform 4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content {
            opacity: 0.9;
        }
    }

    &.large {
        height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    .background-image {
        width: 20%;
        height: 100%;
        background-position: center;
        background-size: cover;

        @media (max-width: 960px) {
          width: 100%;
          height: 80%;
        }
    }

    .harga {
      @media (max-width: 960px) {
        position: relative;
        top: 65%;
        text-align: left;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      p {
        color: rgb(148, 0, 0);
        font-weight: bold;
        background-color: rgba(255, 113, 113, 0.274);
        padding: 4px 8px;
        width: 70%;
        border-radius: 5px;
        @media (max-width: 960px) {
          width: 40%;
          height: 20%;
        }
      }


      .detail_harga {
        position: relative;
        left: -40%;
      }

      .garis {
        border-bottom: 0.1px solid grey;
        position: absolute;
        top: 29%;
        width: 70px;

        @media (max-width: 960px) {
          top: 7%;
          left: 3%;
        }
      }

      h1 {
        color: rgb(218, 116, 0);
        font-weight: bolder;

        @media (max-width: 960px) {
          font-size: 24px;
        }
      }
    }
  
    .content {
      height: 80px;
      padding: 20px 25px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
    //   border: 1px solid black;
      // background-color: rgb(146, 146, 146);
      opacity: 0.7;
      border-radius: 5px;

      @media (max-width: 960px) {
        position: absolute;
        top: 30%;
      }

      .tombol {
        display: flex;
        flex-direction: row;

        .subtittle {
          background-color: darkcyan;
          border-radius: 20px;
          border: none;
          color: #fff;
          padding: 2px 8px;
          margin-right: 20px;
        }
        .subtittles {
          background-color: rgb(0, 151, 197);
          border-radius: 20px;
          border: none;
          color: #fff;
          padding: 2px 8px;
          margin-right: 20px;
        }
      }

      .detail {
        display: flex;
        flex-direction: column;

        .title {
          font-weight: bold;
          margin-bottom: 6px;
          font-size: 22px;
          color: #4a4a4a;

          @media (max-width: 960px) {
            font-size: 16px;
          }
        }
    
        .alamat {
          font-weight: lighter;
          font-size: 16px;
          margin-top: -20px;

          @media (max-width: 960px) {
            font-size: 12px;
          }
        }

      }

      .review {
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        display: flex;

        p {
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }

  
    }
}