body {
  font-family: 'Open Sans Condensed';
  background-color: white;
  /* color: rgb(255, 255, 255); */
  padding: 20px 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}