.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;

    hr {
      border: 2px solid rgb(0, 108, 196);
      width: 100%;
      position: absolute;
      top: 90%;
    }
  }
  
  
